<h1>New person</h1>
<%= form_for @person do |f| %>
 <%= render 'form', :f => f %>
 <div class="actions">
   <%= f.submit "Register Person", :class => 'btn primary' %>&nbsp;&nbsp;
   <%= link_to 'Back', people_path %>
 </div> 
<% end %>
