/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.

 *= require bootstrap
 *= require_tree .
 *= require_self
*/

.status {
  float: right !important;
  color: white;
}

.status span {
  float: left;
  padding: 12px 5px 0px;
}
  
section#inner_content{
  padding:50px 0 50px 0;
  background-color: RGB(240,240,240);
}

html, body, .container.noisy, #inner_content {
  background-image:url('noisy.png');
}

